
set_io clk R9

set_io rst A11
set_io data_in[7] A5
set_io data_in[6] A2
set_io data_in[5] C3
set_io data_in[4] B4
set_io data_in[3] D8
set_io data_in[2] B9
set_io data_in[1] B10
set_io data_in[0] B11

set_io data_out[7] N6
set_io data_out[6] L7
set_io data_out[5] G5
set_io data_out[4] L9
set_io data_out[3] R10
set_io data_out[2] T11
set_io data_out[1] T14
set_io data_out[0] T15

set_io next_in B7
set_io output_done R14