
set_io clk R9

set_io rst N6
set_io data_out[0] N7
set_io data_out[1] L7
set_io data_out[2] M8
set_io data_out[3] G5
set_io data_out[4] P9
set_io data_out[5] L9
set_io data_out[6] N9
set_io data_out[7] R10
set_io data_type[0] T9
set_io data_type[1] T11
set_io data_type[2] T10
